<h1>Employees#index</h1>
<div>
<table>
<tr>
<th>Employee Name </th><th>Employee Designation </th><th>Employee Image </th>
</tr>
<% @employee.each do |emp| %>
<tr>
<td><%= emp.emp_name %></td><td><%= emp.emp_des %></td><td><%= image_tag(emp.avatar,height: '200', width: '250') %></td><td><%= link_to 'Delete',employee_path(emp),:method=> :delete%></td><td><%= link_to 'Edit',edit_employee_path(emp) %></td>
</tr>
<% end %>
</table>
<%= paginate @employee, :left => 1, :right => 3 %>
</div>
<p>Find me in app/views/employees/index.html.erb</p>
